<!DOCTYPE html>
<html>
<head>
	<title>
		<%=title %>
	</title>
	<% include partials/head %>
</head>
<body class="container-fluid">
	<header>
        <% include('partials/header',{user: 'user'}); %>
    </header>
	<% if (messages.length > 0) { %>
        <div class="alert alert-info"><%= messages %></div>
    <% } %>

	<div class="cotainer">
        <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span>Local</h3>

                <% if (user.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>password</strong>: <%= user.address %>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>